{% extends 'base.html' %}
{% block title %}Финальное описание схемы{{% endblock %}
{% block content %}
    {% for form in forms %}
        <div>
            <p>Доступные порты модели{{ form.model_name }}: </p>
            {% for port in form.list_of_necessary_ports %}
                <p>{{ port }}</p>
            {% endfor %}
            {% if form.list_of_optional_ports %}
                <p>Опциональные порты: </p>
                {% for add_port in form.list_of_optional_ports %}
                <p>{{ add_port }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <form action="#" method="post">
        {% csrf_token %}
        {% for i in form %}
            <div>
                {{ i }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}