{% extends 'base.html' %}
{% block title %}Описание схемы{{% endblock %}
{% block content %}
        <p>{{ data }}</p>
        <p>{{ data_cat }}</p>
        <p>{{ data_test }}</p>
        <h3>Выберите модели оборудования:</h3>
        <form action="{% url 'final' %}" method="post">
        {% csrf_token %}
            {% for form in forms %}
                <div>
                    {{ form }}
                </div>
            {% endfor %}
        <input type="submit" value="Submit" />
        </form>
{% endblock %}