{% extends 'base.html' %}
{% block title %}Описание схемы{% endblock %}
{% block content %}
<h1>Выберите тип используемого оборудования</h1>
    <p id="text" style="display:none">Checkbox is CHECKED!</p>
<form method="post" action="{% url 'result' %}">
{% csrf_token %}
     {% for category in list_cat %}
         <input id="{{ category.id }}" type="checkbox" name="category" value="{{ category.id }} " onclick="showMe()">
         <label for="{{ category.id }}">{{ category.category }}</label><br>
    {% endfor %}
<input type="submit" value="OK">
</form>
{% endblock %}