body {
    background: navajowhite;
}

aside {
    background: lightsalmon;
    float: left;
    width: 30%;
    padding: 2.5%;
    height: 100vh;
    color: gray;
    border-right: 5px solid honeydew;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: black;
    display: block;
    margin-top: 20px;
}

aside ul li:hover, aside ul a:hover {
    color: blue;
    text-decoration: none;
    transform: scale(1.05);
}